doctype
html
  head
    block title
      title Exams Platform
    block scripts
  body
    header
      if user
        a(href='/logout')#sign-out  Sign out
      block header
    main
      block content
    footer
      block footer
